body{
    overflow-x: hidden;
}

.full-header {
    /* background-image: linear-gradient(#1a121d,rgb(39, 18, 46)); */
    background-color:#1a121d ;
    background-image: url(images/bg-circle.png);
    background-position-x: 60em;
    background-position-y: -5em;
    background-size:32rem ;
    background-repeat: no-repeat;
    background-blend-mode:saturation;
    height: 47rem;
    overflow: hidden;
}

.lists {
    margin-left: 9rem;
}

.navigation {
    margin-top: 1rem;
}

.contact-us-button {
    background-color: rgb(150, 20, 187);
    
}

.items {
    font-size: .8rem;
}

.header-span {
    color: rgb(150, 20, 187);
}

.cart-img-div{
    height: 10em;
    width: 10em;
}
.cart-img{
    height: 15em;
    width: 15em;
}
.cards{
    background-color:  rgb(39, 18, 46);
}
@media only screen and (min-width: 600px) {
    .auditorium-img-div {
        margin-top: 7rem;
        height: 35rem;
        overflow: hidden;
    }
    .header-text-div {
        position: relative;
        top: -35rem;
        left: 30rem;
    
    }
    
.header-text {
    font-size: 3.8rem;
    letter-spacing: 0.2rem;
    line-height: 4.1rem;
}
    .auditorium-img {
        position: relative;
        left: -8rem;
        height: 47rem;
        overflow: hidden;
    }
    
    .circle-2 {
        position: absolute;
        height: 17rem;
        width: 17rem;
        border-radius: 50%;
        border: 3px solid rgba(84, 44, 104, 0.76);
        right: 4rem;
        top: 11rem;
        overflow: hidden;
    }
    
    .circle-3 {
        position: absolute;
        height: 8.8rem;
        width: 8.8rem;
        border-radius: 50%;
        border: 3px solid rgba(84, 44, 104, 0.76);
        right: 25.6rem;
        top: 33rem;
        overflow: hidden;
    }
    
    .circle-4 {
        position: absolute;
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        border: 3px solid rgba(149, 132, 158, 0.63);
        right: 26rem;
        top: 33rem;
        overflow: hidden;
    }
    
    .circle-4 span {
        font-size: 12px;
    }
  .card-section{
    margin-top: 5em;
    margin-inline:11em ;
}
.memory{
    height: 55rem;
}
.memory-image{
    position: relative;
}
#memory-image-1{
    width: 12rem;
    top: -17rem;
    left: 8rem;
}
#memory-image-2{
    top: -6.9rem;
    left: 3rem;
}
#img-memory-2{
    width: 10rem;
    width: 33rem;
}
#memory-image-3{
    top: -53rem;
    right: -67rem;
    width: 8rem;
}
#memory-image-4{
    right: -76.3rem;
    width: 8rem;
    top: -44rem;
}
#memory-image-5{
    top: -37rem;
    right: -51rem;
    width: 17rem;
}
  }

.card-p p{
    line-height: 1.3rem;
    font-size: .8rem;
}
.memory{
    margin-top: 7rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
    
}
@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
 .memory-image{
     width: 65%;
     margin-top: 2rem;
     margin-inline: auto;

 }
 .auditorium-img{
     display: none;
 }
 .logoes{
     margin-inline: 1rem;
 }
 .header-text{
     display: block;
 }
}
.our-promise{
    margin-top: 8rem;
}
.promise-hr{
    height: 10px;
    opacity: 1;
}
.promise-hr:not([size]) {
    height: 1.9px;
}
.schedule-btn{
    padding-block: 0.85rem;
    font-size: .85rem;
    font-weight: 600;
}
.our-promise-img-div{
    border-right: 6px solid rgb(150, 20, 187); ;
    border-radius: 50%;
    height: 100%;
    width: 80%;
    margin-inline: auto;
    margin-top: 0;
}
.our-promise-img{
height: 100%;
width: 100%;
}
.testimonials{
    margin-top: 12rem;
    background-color: rgb(39, 18, 46);
    margin-inline: 4rem;
    
}
.testimonail-div{
    padding-block: 9rem;
    background-image: url(images/inverted-comma.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
}
.testimonail-div h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.testimonail-div p{
    font-size: 1.5rem;
    line-height: .3rem;
    margin-top: 1.7rem;
    font-weight: 300;
}
.testimonial-img{
    height: auto;
    width: 6%;
    border-radius: 50%;
    overflow: hidden;
}
.money{
    margin-top: 18rem;
    margin-bottom: 20rem;
}
.money-img-div{
    border-right: 2px solid rgb(150, 20, 187);
    border-radius: 50%;
    height: 21.5rem;
    width: 22rem;
    overflow: hidden;
    margin-left: 7rem;
    transform: rotate(37deg);
}
.money-img{
    border-radius: 50%;
    height: 100%;
    width: 94%;
    overflow: hidden;
    transform: rotate(-37deg);
}
.money-img img{
    height: 100%;
    width: 100%;
}
.money-texts{
    margin-top: 2rem;
    margin-left: 12rem;
}
.cemi-colone{
    font-size: 10rem;
    line-height: 1.5rem;
}
.money-narration h1{
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 3.9rem;
}
.money-spech{
    margin-left: 1rem;
}
.money-spech h2{
font-weight: 700;
}
.money-texts p{
    font-size: 1.24rem;
    font-weight: 400;
}
.money-texts h6{
    font-weight: bold;
    line-height: 1.5rem;
    font-size: 1.2rem;
}
.nav-item:hover{
    transform: scale(1.18);
}
.contact-us-button:hover{
    transform: scale(1.18);
}
.show{
    background-image: linear-gradient(rgb(39, 18, 46),#1a121d);
    padding-top: 15rem;
    padding-bottom: 15rem;
}
.purple-show{
    background-image: radial-gradient( #32123c 40%,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50em;
}
.purple-show h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: .6em;
}
.purple-show h6{
    font-size: 1.68em;
    line-height: 0.99em;
    font-weight: 300;
}
.purple-show div{
    margin-top: 3em;
}
.purple-monent{
    margin-top: 20rem;

}
.purple-moment-circle{
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    height: 14rem;
    width: 14rem;
}
.purple-momnet-text {
    margin-top: 7.5rem;
}


.purple-momnet-text p{
    font-size: 1.25em;
    letter-spacing: .05em;
    font-weight: 300;
    line-height: 1.4em;

}
.purple-momnet-text h5{
    font-size: 1.48em;
}
.privacy-policy{
    margin-top: 9rem;
    margin-bottom: 24rem;
}
.footer-text{
    font-size: 1.6rem;
    font-size: 1.6rem;
    color: #000000b5;
}

.policy h3, .new-join{
    font-size: 1.56rem;
    font-weight: 700;
}
.policy li{
    margin-bottom: 1rem;
    list-style: none;
}
.policy li a{
    text-decoration: none;
    color: black;
}

.your-mail input{
    border: 0;
    color: black;
    width: 90%;  
}
.your-mail span{
    color: rgb(0 0 0 / 56%);
}
.your-mail{
    border-bottom:2px solid #0000006e;
}
footer hr{
    border-top: 2px solid black;
}
.my-profile{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.terms-cond{
    text-decoration: none;
    color: black;
    font-size: .9rem;
}
.social a{
    text-decoration: none;
    color: #000000cc;
    font-size: 1.5rem;
    margin-left: 1rem;
}